
<div class ="container dropleft" id="sectionList">
  <button class="dropdown-toggle btn btn-primary btn-dark btn-lg" href="#"
  data-toggle="dropdown">Global Life Park</button>
    <ul class="dropdown-menu dropdown-menu-right" id="myUL">
      <div class="input-group">
        <input type="text" class="form-control py-2 border-right-0 border"
        onkeyup="filterList()" id="myInput" placeholder="Search">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <li><a href="3" class="dropdown-item">3</a></li>
      <li><a href="4" class="dropdown-item">4</a></li>
      <li><a href="5" class="dropdown-item">5</a></li>
      <li><a href="6" class="dropdown-item">6</a></li>
      <li><a href="7" class="dropdown-item">7</a></li>
      <li><a href="8" class="dropdown-item">8</a></li>
      <li><a href="9" class="dropdown-item">9</a></li>
      <li><a href="10" class="dropdown-item">10</a></li>
      <li><a href="11" class="dropdown-item">11</a></li>
      <li><a href="12" class="dropdown-item">12</a></li>
      <li><a href="13" class="dropdown-item">13</a></li>
      <li><a href="14" class="dropdown-item">14</a></li>
      <li><a href="15" class="dropdown-item">15</a></li>
      <li><a href="16" class="dropdown-item">16</a></li>
      <li><a href="17" class="dropdown-item">17</a></li>
      <li><a href="18" class="dropdown-item">18</a></li>
      <li><a href="19" class="dropdown-item">19</a></li>
      <li><a href="20" class="dropdown-item">20</a></li>
      <li><a href="21" class="dropdown-item">21</a></li>
      <li><a href="22" class="dropdown-item">22</a></li>
      <li><a href="23" class="dropdown-item">23</a></li>
      <li><a href="24" class="dropdown-item">24</a></li>
      <li><a href="25" class="dropdown-item">25</a></li>
      <li><a href="26" class="dropdown-item">26</a></li>
      <li><a href="27" class="dropdown-item">27</a></li>
      <li><a href="28" class="dropdown-item">28</a></li>
      <li><a href="29" class="dropdown-item">29</a></li>
      <li><a href="30" class="dropdown-item">30</a></li>
      <li><a href="31" class="dropdown-item">31</a></li>
      <li><a href="32" class="dropdown-item">32</a></li>
      <li><a href="33" class="dropdown-item">33</a></li>
      <li><a href="34" class="dropdown-item">34</a></li>
      <li><a href="35" class="dropdown-item">35</a></li>
      <li><a href="36" class="dropdown-item">36</a></li>
      <li><a href="37" class="dropdown-item">37</a></li>
      <li><a href="38" class="dropdown-item">38</a></li>
      <li><a href="39" class="dropdown-item">39</a></li>
      <li><a href="40" class="dropdown-item">40</a></li>
      <li><a href="41" class="dropdown-item">41</a></li>
      <li><a href="42" class="dropdown-item">42</a></li>
      <li><a href="43" class="dropdown-item">43</a></li>
      <li><a href="44" class="dropdown-item">44</a></li>
      <li><a href="45" class="dropdown-item">45</a></li>
      <li><a href="46" class="dropdown-item">46</a></li>
      <li><a href="47" class="dropdown-item">47</a></li>
      <li><a href="48" class="dropdown-item">48</a></li>
      <li><a href="49" class="dropdown-item">49</a></li>
      <li><a href="50" class="dropdown-item">50</a></li>
      <li><a href="51" class="dropdown-item">51</a></li>
      <li><a href="52" class="dropdown-item">52</a></li>
      <li><a href="53" class="dropdown-item">53</a></li>
      <li><a href="54" class="dropdown-item">54</a></li>
      <li><a href="112" class="dropdown-item">112</a></li>
      <li><a href="113" class="dropdown-item">113</a></li>
      <li><a href="114" class="dropdown-item">114</a></li>
      <li><a href="115" class="dropdown-item">115</a></li>
      <li><a href="116" class="dropdown-item">116</a></li>
      <li><a href="117" class="dropdown-item">117</a></li>
      <li><a href="118" class="dropdown-item">118</a></li>
      <li><a href="119" class="dropdown-item">119</a></li>
      <li><a href="120" class="dropdown-item">120</a></li>
      <li><a href="121" class="dropdown-item">121</a></li>
      <li><a href="122" class="dropdown-item">122</a></li>
      <li><a href="123" class="dropdown-item">123</a></li>
      <li><a href="124" class="dropdown-item">124</a></li>
      <li><a href="125" class="dropdown-item">125</a></li>
      <li><a href="126" class="dropdown-item">126</a></li>
      <li><a href="127" class="dropdown-item">127</a></li>
      <li><a href="128" class="dropdown-item">128</a></li>
      <li><a href="129" class="dropdown-item">129</a></li>
      <li><a href="130" class="dropdown-item">130</a></li>
      <li><a href="131" class="dropdown-item">131</a></li>
      <li><a href="132" class="dropdown-item">132</a></li>
      <li><a href="133" class="dropdown-item">133</a></li>
      <li><a href="134" class="dropdown-item">134</a></li>
      <li><a href="135" class="dropdown-item">135</a></li>
      <li><a href="136" class="dropdown-item">136</a></li>
      <li><a href="137" class="dropdown-item">137</a></li>
      <li><a href="138" class="dropdown-item">138</a></li>
      <li><a href="139" class="dropdown-item">139</a></li>
      <li><a href="201" class="dropdown-item">201</a></li>
      <li><a href="202" class="dropdown-item">202</a></li>
      <li><a href="203" class="dropdown-item">203</a></li>
      <li><a href="204" class="dropdown-item">204</a></li>
      <li><a href="205" class="dropdown-item">205</a></li>
      <li><a href="206" class="dropdown-item">206</a></li>
      <li><a href="207" class="dropdown-item">207</a></li>
      <li><a href="208" class="dropdown-item">208</a></li>
      <li><a href="209" class="dropdown-item">209</a></li>
      <li><a href="210" class="dropdown-item">210</a></li>
      <li><a href="211" class="dropdown-item">211</a></li>
      <li><a href="212" class="dropdown-item">212</a></li>
      <li><a href="213" class="dropdown-item">213</a></li>
      <li><a href="214" class="dropdown-item">214</a></li>
      <li><a href="215" class="dropdown-item">215</a></li>
      <li><a href="216" class="dropdown-item">216</a></li>
      <li><a href="217" class="dropdown-item">217</a></li>
      <li><a href="218" class="dropdown-item">218</a></li>
      <li><a href="219" class="dropdown-item">219</a></li>
      <li><a href="220" class="dropdown-item">220</a></li>
      <li><a href="221" class="dropdown-item">221</a></li>
      <li><a href="222" class="dropdown-item">222</a></li>
      <li><a href="223" class="dropdown-item">223</a></li>
      <li><a href="224" class="dropdown-item">224</a></li>
      <li><a href="225" class="dropdown-item">225</a></li>
      <li><a href="226" class="dropdown-item">226</a></li>
      <li><a href="227" class="dropdown-item">227</a></li>
      <li><a href="228" class="dropdown-item">228</a></li>
      <li><a href="229" class="dropdown-item">229</a></li>
      <li><a href="230" class="dropdown-item">230</a></li>
      <li><a href="231" class="dropdown-item">231</a></li>
      <li><a href="232" class="dropdown-item">232</a></li>
      <li><a href="233" class="dropdown-item">233</a></li>
      <li><a href="234" class="dropdown-item">234</a></li>
      <li><a href="235" class="dropdown-item">235</a></li>
      <li><a href="236" class="dropdown-item">236</a></li>
      <li><a href="237" class="dropdown-item">237</a></li>
      <li><a href="238" class="dropdown-item">238</a></li>
      <li><a href="239" class="dropdown-item">239</a></li>
      <li><a href="240" class="dropdown-item">240</a></li>
      <li><a href="241" class="dropdown-item">241</a></li>
      <li><a href="242" class="dropdown-item">242</a></li>
      <li><a href="243" class="dropdown-item">243</a></li>
      <li><a href="244" class="dropdown-item">244</a></li>
      <li><a href="245" class="dropdown-item">245</a></li>
      <li><a href="247" class="dropdown-item">247</a></li>
      <li><a href="248" class="dropdown-item">248</a></li>
      <li><a href="249" class="dropdown-item">249</a></li>
      <li><a href="250" class="dropdown-item">250</a></li>
      <li><a href="251" class="dropdown-item">251</a></li>
      <li><a href="301" class="dropdown-item">301</a></li>
      <li><a href="302" class="dropdown-item">302</a></li>
      <li><a href="303" class="dropdown-item">303</a></li>
      <li><a href="304" class="dropdown-item">304</a></li>
      <li><a href="305" class="dropdown-item">305</a></li>
      <li><a href="306" class="dropdown-item">306</a></li>
      <li><a href="307" class="dropdown-item">307</a></li>
      <li><a href="308" class="dropdown-item">308</a></li>
      <li><a href="309" class="dropdown-item">309</a></li>
      <li><a href="310" class="dropdown-item">310</a></li>
      <li><a href="311" class="dropdown-item">311</a></li>
      <li><a href="312" class="dropdown-item">312</a></li>
      <li><a href="313" class="dropdown-item">313</a></li>
      <li><a href="314" class="dropdown-item">314</a></li>
      <li><a href="315" class="dropdown-item">315</a></li>
      <li><a href="316" class="dropdown-item">316</a></li>
      <li><a href="317" class="dropdown-item">317</a></li>
      <li><a href="318" class="dropdown-item">318</a></li>
      <li><a href="319" class="dropdown-item">319</a></li>
      <li><a href="320" class="dropdown-item">320</a></li>
      <li><a href="321" class="dropdown-item">321</a></li>
      <li><a href="322" class="dropdown-item">322</a></li>
      <li><a href="323" class="dropdown-item">323</a></li>
      <li><a href="324" class="dropdown-item">324</a></li>
      <li><a href="325" class="dropdown-item">325</a></li>
      <li><a href="326" class="dropdown-item">326</a></li>
      <li><a href="327" class="dropdown-item">327</a></li>
      <li><a href="328" class="dropdown-item">328</a></li>
      <li><a href="329" class="dropdown-item">329</a></li>
      <li><a href="330" class="dropdown-item">330</a></li>
      <li><a href="331" class="dropdown-item">331</a></li>
      <li><a href="332" class="dropdown-item">332</a></li>
      <li><a href="333" class="dropdown-item">333</a></li>
      <li><a href="334" class="dropdown-item">334</a></li>
      <li><a href="335" class="dropdown-item">335</a></li>
      <li><a href="336" class="dropdown-item">336</a></li>
      <li><a href="337" class="dropdown-item">337</a></li>
      <li><a href="338" class="dropdown-item">338</a></li>
      <li><a href="339" class="dropdown-item">339</a></li>
      <li><a href="340" class="dropdown-item">340</a></li>
      <li><a href="341" class="dropdown-item">341</a></li>
      <li><a href="342" class="dropdown-item">342</a></li>
      <li><a href="343" class="dropdown-item">343</a></li>
      <li><a href="344" class="dropdown-item">344</a></li>
      <li><a href="345" class="dropdown-item">345</a></li>
    </ul>
</div>

<div class="container">
  <img src="/images/glp/stadium.png" alt="stadiumlayout" width="900px">
</div>

<script>
function filterList(){
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

</script>