<script src="/js/checkpass.js" type="text/javascript" charset="utf-8"></script>

<h2 class="page-header">Change Your Password</h2><br>
<form class="form-signin" method="post" action="/users/account/newpassword">
  <div class="form-label-group">
    <input type="password" id="oldPassword" class="form-control"
    name="oldPassword" placeholder="Old password" required>
    <label for="oldPassword">Old password</label><br />
  </div>
  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control"
    name="password" placeholder="Password" required>
    <label for="inputPassword">Password</label><br />
  </div>
  <div class="form-label-group">
    <input type="password" id="confirmPassword" class="form-control"
    onkeyup="checkPass(); return false;" name="password2" style="margin-top:-15pt"
    placeholder="Retype Password" required>
    <label for="inputPassword2">Retype Password</label><span id="confirmMessage" class="confirmMessage"></span><br />
  </div>
    <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit" disabled>Change Password</button>
</form>
